* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

#posts-wrap {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#posts-wrap #posts {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(45deg, grey, transparent);
}

#posts-wrap #posts .post {
  width: 45%;
  height: 215px;
  margin: 10px;
  padding-top: 10px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 450ms all;
  transition: 450ms all;
}

#posts-wrap #posts .post:hover {
  -webkit-box-shadow: 12px 12px 4px black;
          box-shadow: 12px 12px 4px black;
  background-color: #EBE8E9;
}

#posts-wrap #posts .post:hover .post-info a:after {
  padding: 3px 3px;
  margin-left: -3px !important;
  margin-top: -21px;
  opacity: 1;
  font-size: 16px;
  -webkit-box-shadow: 1px 1px 5px 2px black;
          box-shadow: 1px 1px 5px 2px black;
}

#posts-wrap #posts .post:hover .post-info p:after {
  padding: 3px 3px;
  margin-left: -3px !important;
  margin-top: -21px;
  opacity: 1;
  font-size: 16px;
  -webkit-box-shadow: 1px 1px 5px 2px black;
          box-shadow: 1px 1px 5px 2px black;
}

#posts-wrap #posts .post .autor {
  font-size: 14px;
  padding: 5px 0px;
  text-align: center;
}

#posts-wrap #posts .post .post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  border: 2px solid silver;
  margin: 5px auto;
  padding: 5px;
}

#posts-wrap #posts .post .post-info a {
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  -webkit-box-shadow: 1.8px 1.8px 2.8px black;
          box-shadow: 1.8px 1.8px 2.8px black;
  padding: 3px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  overflow: hidden;
  z-index: 2;
}

#posts-wrap #posts .post .post-info a:after {
  content: attr(data-after);
  background: #EBE8E9;
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  z-index: 1;
}

#posts-wrap #posts .post .post-info p {
  -webkit-box-shadow: 1.8px 1.8px 2.8px black;
          box-shadow: 1.8px 1.8px 2.8px black;
  padding: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#posts-wrap #posts .post .post-info p:after {
  content: attr(data-after);
  background: #EBE8E9;
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  z-index: 1;
}

#posts-wrap #posts .post .title {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

#posts-wrap #posts .post .content {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
}

#posts-wrap #posts .post .comentarios {
  display: none;
}

#posts-wrap #posts .post .comentarios hr {
  border-color: black;
}

#posts-wrap #posts .post .comentarios p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
}

#posts-wrap #posts .post .comentarios .comentario .comentario-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 15px;
}

#posts-wrap #posts .post .comentarios .comentario .comentario-info p {
  padding-top: 0px;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

#posts-wrap #posts .post .comentarios .comentario .comentario-conteudo {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

#posts-wrap #posts .post .comentarios .comentario .comentario-conteudo p {
  padding-top: 0px;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  text-align: left;
}

#posts-wrap #posts .paginacao {
  text-align: center;
}

#posts-wrap .paginaccion {
  font-size: 22px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

#posts-wrap .popup-blog {
  -webkit-transition: all 600ms;
  transition: all 600ms;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  width: 820px;
  height: 730px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

#posts-wrap .popup-blog .post {
  width: 100%;
}

#posts-wrap .popup-blog .post .post-stuff {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#posts-wrap .popup-blog .post .post-stuff .post-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#posts-wrap .popup-blog .post .post-stuff .post-info .fechar-popup {
  font-size: 40px;
}

#posts-wrap .popup-blog .post .post-stuff .title {
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

#posts-wrap .popup-blog .autor {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

#posts-wrap .popup-blog .content {
  font-size: 22px;
}

#posts-wrap .popup-blog .comentarios {
  width: 100%;
  padding: 12px;
}

#posts-wrap .popup-blog .comentarios p {
  font-size: 20px;
}

#posts-wrap .popup-blog hr {
  width: 100%;
  height: 3px;
}

#autor-page {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#autor-page h2 {
  margin: 10px;
}

#autor-page h1 {
  margin-bottom: 10px;
}

#autor-page h3 {
  cursor: pointer;
}

#autor-page .galeria {
  margin: 10px 0;
  font-size: 18px;
}

#autor-page .albums > div:nth-child(odd) {
  background-color: #e9e5e5;
}

#autor-page .albums > div:nth-child(even) {
  background-color: lightgray;
}

#autor-page .albums .album .title-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#autor-page .albums .album .title-x .close {
  font-size: 60px;
  line-height: 21px;
  padding-right: 15px;
  color: #888888;
  display: none;
  cursor: pointer;
}

#autor-page .albums .album .title-x .close:hover {
  color: black;
}

#autor-page .albums .album .title-x .album-title {
  cursor: pointer;
  font-family: cursive;
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 20px;
}

#autor-page .albums .album .title-x .album-title:hover {
  color: #888888;
}

#autor-page .albums .album .photos {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#autor-page .albums .album .photos .photo {
  margin: 0 5px;
}

#autor-page .albums .album .photos .photo .thumbnail:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

#autor-page .albums .album .photos .photo p {
  width: 150px;
  height: 150px;
}

#autor-portfl {
  width: 100%;
  height: 100vh;
}

#autor-portfl .img-bg {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #e4e4e4;
}

#autor-portfl .img-bg .facepic {
  height: 680px;
  width: 330px;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: none;
     object-fit: none;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  -webkit-transition: left 600ms, top 400ms 600ms;
  transition: left 600ms, top 400ms 600ms;
}

#autor-portfl .img-bg .portfl-name {
  -webkit-transition: all 600ms ease 200ms;
  transition: all 600ms ease 200ms;
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  top: 80%;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#autor-portfl .img-bg .companypic {
  position: absolute;
  top: 80%;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 600ms ease 200ms;
  transition: all 600ms ease 200ms;
}

#autor-portfl .img-bg .portfl-company {
  -webkit-transition: all 600ms ease 200ms;
  transition: all 600ms ease 200ms;
  position: absolute;
  top: 80%;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 50px;
  opacity: 0;
  background: linear-gradient(45deg, #a7a706, #464545);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 10px black;
}

#autor-portfl .img-bg .portfl-catch {
  -webkit-transition: all 600ms ease 200ms;
  transition: all 600ms ease 200ms;
  position: absolute;
  top: 80%;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

#autor-portfl .img-bg .portfl-albuns {
  height: 680px;
  width: 330px;
  background-color: lightgrey;
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
  -webkit-transition: left 600ms, top 400ms 600ms, opacity 600ms;
  transition: left 600ms, top 400ms 600ms, opacity 600ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}

#autor-portfl .img-bg .portfl-albuns .portfl-photo {
  width: 120px;
  height: 120px;
  -webkit-filter: sepia(0.75);
          filter: sepia(0.75);
}

#album-page {
  width: 100vw;
  height: 100%;
  background-color: #f2eecb;
  background-image: linear-gradient(45deg, #ffd966 25%, transparent 25%, transparent 75%, #ffd966 75%, #ffd966), linear-gradient(-45deg, #ffd966 25%, transparent 25%, transparent 75%, #ffd966 75%, #ffd966);
  background-size: 60px 60px;
  background-position: 0 0;
  -webkit-animation: slide 4s infinite linear;
          animation: slide 4s infinite linear;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -120px 60px;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -120px 60px;
  }
}

#album-page .list-autors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  padding-bottom: calc(87.5vh - 675px);
  padding-top: calc(87.5vh - 675px);
}

#album-page .list-autors .album-anchor {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  margin: 30px 0;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  z-index: 5;
  text-align: left;
  width: 500px;
}

#album-page .list-autors .album-anchor:before {
  content: attr(data-before);
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  font-weight: 700;
  color: white;
  text-align: left;
  z-index: -1;
  text-shadow: 1px 1px 2px black;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#album-page h1 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  padding: 30px 0;
  font-size: 60px;
  font-weight: 700;
}

#album-page .album-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

#album-page .album-wrapper > div:nth-child(odd) {
  background-image: linear-gradient(45deg, transparent, lightgoldenrodyellow);
}

#album-page .album-wrapper > div:nth-child(even) {
  background-image: linear-gradient(45deg, lightgoldenrodyellow, transparent);
}

#album-page .album-wrapper .album {
  -webkit-transition: all 450ms;
  transition: all 450ms;
}

#album-page .album-wrapper .album p {
  text-align: center;
}

#album-page .album-wrapper .album .title-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#album-page .album-wrapper .album .title-x .close {
  font-size: 60px;
  line-height: 21px;
  padding-right: 15px;
  color: #888888;
  display: none;
  cursor: pointer;
}

#album-page .album-wrapper .album .title-x .close:hover {
  color: black;
}

#album-page .album-wrapper .album .title-x .album-title {
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

#album-page .album-wrapper .album .title-x .album-title:hover {
  color: #888888;
}

#album-page .album-wrapper .album .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  height: 0;
  -webkit-transition: height 1s, opacity 600ms ease 1s;
  transition: height 1s, opacity 600ms ease 1s;
  opacity: 0;
}

#album-page .album-wrapper .album .photos .photo {
  margin: 0 5px;
}

#album-page .album-wrapper .album .photos .photo .thumbnail:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

#album-page .album-wrapper .album .photos .photo p {
  width: 150px;
  height: 150px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  visibility: hidden;
  background-color: black;
  opacity: 0;
  -webkit-transition: opacity 600ms ease 200ms;
  transition: opacity 600ms ease 200ms;
}

#modal #modal-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#modal #modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 18px;
  text-shadow: 1px 1px 3px silver;
}

#modal #modal-img, #modal #modal-caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#modal #modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#modal #modal-close:hover, #modal #modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#autor-list {
  width: 100%;
  background-color: #f2eecb;
  padding-top: 40px;
  height: 100vh;
}

#autor-list h1 {
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

#autor-list .profile-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  max-width: 1000px;
  width: 100%;
  position: relative;
}

#autor-list .profile-pics > div:nth-child(odd) {
  background-color: lightgrey;
}

#autor-list .profile-pics > div:nth-child(even) {
  background-color: aliceblue;
}

#autor-list .profile-pics .esquerda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#autor-list .profile-pics .middle-img {
  width: 1050px;
  height: 295px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 800ms all;
  transition: 800ms all;
}

#autor-list .profile-pics .middle-img-behind {
  position: absolute;
  width: 443px;
  top: 204px;
  left: 200px;
  opacity: 0;
  -webkit-filter: drop-shadow(black 2px 4px 6px);
          filter: drop-shadow(black 2px 4px 6px);
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

#autor-list .profile-pics .direita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#autor-list .profile-pics .profile-pic {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 0 3px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#autor-list .profile-pics .profile-pic img {
  width: 200px;
  height: auto;
  -webkit-filter: contrast(0.6);
          filter: contrast(0.6);
}

#autor-list .profile-pics .profile-pic img:hover {
  -webkit-filter: none;
          filter: none;
}

#autor-list .profile-pics .profile-pic a {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 5px;
  padding: 0;
}

#autor-list .profile-pics .profile-pic .phone-web-mail {
  text-align: center;
}

#autor-list .profile-pics .profile-pic .phone-web-mail img {
  transition-property: transform, filter, -webkit-filter, padding-left;
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  width: auto;
  height: auto;
}

#autor-list .profile-pics .profile-pic .info-phone-web-mail {
  text-align: center;
  color: goldenrod;
  border: 2px solid gold;
  padding: 2px;
  margin: 5px auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  -webkit-transition: opacity 600ms ease 100ms;
  transition: opacity 600ms ease 100ms;
  bottom: -35px;
}

.login {
  width: 200px;
  height: 300px;
}

#sidenav-tarefas {
  position: fixed;
  top: 70%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sidenav-tarefas .sidenav-header {
  width: 100%;
  height: 30px;
  background-color: #141414;
  color: white;
  text-align: center;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#sidenav-tarefas .sidenav-header:hover > i {
  color: #7538e6;
}

#sidenav-tarefas .sidenav-header p {
  margin-left: 50px;
}

#sidenav-tarefas .sidenav-header i {
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: color 550ms ease;
  transition: color 550ms ease;
}

#sidenav-tarefas .tarefas {
  border: 1px solid black;
}

#sidenav-tarefas .tarefas .concluidas {
  padding: 5px;
  background-color: lightgreen;
}

#sidenav-tarefas .tarefas .concluidas p {
  cursor: pointer;
}

#sidenav-tarefas .tarefas .concluidas ul {
  display: none;
  list-style-type: none;
  width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sidenav-tarefas .tarefas .concluidas ul li {
  width: 160px;
  height: 60px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 8px 0 0 8px;
  opacity: 0.5;
  -webkit-transition: 450ms all;
  transition: 450ms all;
}

#sidenav-tarefas .tarefas .concluidas ul li:hover {
  background-color: greenyellow;
  opacity: 1;
}

#sidenav-tarefas .tarefas .concluidas ul li .tarefa-info {
  display: none;
}

#sidenav-tarefas .tarefas .not-concluidas {
  padding: 5px;
  background-color: palevioletred;
}

#sidenav-tarefas .tarefas .not-concluidas p {
  cursor: pointer;
}

#sidenav-tarefas .tarefas .not-concluidas ul {
  display: none;
  list-style-type: none;
  width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sidenav-tarefas .tarefas .not-concluidas ul li {
  width: 160px;
  height: 60px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 8px 0 0 8px;
  opacity: 0.5;
  -webkit-transition: 450ms all;
  transition: 450ms all;
}

#sidenav-tarefas .tarefas .not-concluidas ul li:hover {
  background-color: indianred;
  opacity: 1;
}

#sidenav-tarefas .tarefas .not-concluidas ul li .tarefa-info {
  display: none;
}

#header_certo {
  width: 100%;
  height: 75px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_certo .header-wrapper {
  max-width: 1180px;
  width: 100%;
  height: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_certo .header-wrapper .albums, #header_certo .header-wrapper .posts, #header_certo .header-wrapper .usuarios {
  width: 240px;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 4px 4px silver;
          box-shadow: 4px 4px silver;
  position: relative;
  overflow-x: hidden;
  opacity: 0.99;
}

#header_certo .header-wrapper .albums:before, #header_certo .header-wrapper .posts:before, #header_certo .header-wrapper .usuarios:before {
  content: "";
  background-color: gold;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
}

#header_certo .header-wrapper .albums:hover:before, #header_certo .header-wrapper .posts:hover:before, #header_certo .header-wrapper .usuarios:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#header_certo .header-wrapper .albums a, #header_certo .header-wrapper .posts a, #header_certo .header-wrapper .usuarios a {
  font-family: 'Girassol', cursive;
  font-size: 55px;
  padding: 2px;
}

#header_certo .header-wrapper .albums.atual, #header_certo .header-wrapper .posts.atual, #header_certo .header-wrapper .usuarios.atual {
  background-color: black;
  border: 1px solid silver;
}

#header_certo .header-wrapper .albums.atual a, #header_certo .header-wrapper .posts.atual a, #header_certo .header-wrapper .usuarios.atual a {
  color: gold;
}
/*# sourceMappingURL=style2.css.map */