* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family:sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
html {
  height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}
    #posts-wrap{
        width:100%;
        height:100%;
        background-color:lightgray;
        padding-top:40px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        #posts{
            max-width:1100px;
            width:100%;
            height:100%;
            margin:0 auto;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            background-image:linear-gradient(45deg,grey,transparent);  
            .post{
                width:45%;
                height:215px;
                margin:10px;
                padding-top:10px;
                border:1px solid black;
                display:flex;
                flex-direction:column;
                transition: 450ms all;
                &:hover{
                    box-shadow: 12px 12px 4px black;
                    background-color:#EBE8E9;//rgb(235, 232, 232);
                }
                &:hover .post-info a:after{
                    padding:3px 3px;
                    margin-left:-3px!important;
                    margin-top:-21px;
                    opacity: 1;
                    font-size:16px;
                    box-shadow: 1px 1px 5px 2px black;
                    // transition: 0s
                }
                &:hover .post-info p:after{
                    padding:3px 3px;
                    margin-left:-3px!important;
                    margin-top:-21px;
                    opacity: 1;
                    font-size:16px;
                    box-shadow: 1px 1px 5px 2px black;
                }
                .autor{
                    font-size:14px;
                    padding:5px 0px;
                    text-align: center;
                }
                .post-info{
                    display:flex;
                    flex-direction:row;
                    justify-content: space-between;
                    width:300px;
                    border: 2px solid silver;
                    margin:5px auto;
                    padding:5px;
                    a{
                        border:none;
                        cursor:pointer;
                        font-size:16px;
                        background-color:transparent;
                        box-shadow: 1.8px 1.8px 2.8px black;
                        padding: 3px;
                        transition-duration: 0.4s;
                        overflow:hidden;
                        z-index:2;
                        &:after{
                            content:attr(data-after);
                            background:#EBE8E9;
                            display:block;
                            position:absolute;
                            padding: 0;
                            margin: 0;
                            opacity:0;
                            transition:all 0.8s;
                            z-index:1;
                        }
                    }
                    p{
                        box-shadow: 1.8px 1.8px 2.8px black;
                        padding: 3px;
                        width:fit-content;
                        &:after{
                            content: attr(data-after);
                            background:#EBE8E9;
                            display:block;
                            position:absolute;
                            padding: 0;
                            margin: 0;
                            opacity:0;
                            transition:all 0.8s;
                            z-index:1;
                        }
                    }
                }
                .title{
                    text-transform: uppercase;
                    text-align:center;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size:28px;
                    font-weight: 700;
                }
                .content{
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size:18px;
                    text-align:left;
                    margin-left:10px;
                }
                .comentarios{
                    display:none;
                    hr{
                        border-color:black;
                    }
                    p{
                        text-align:center;
                        font-size:18px;
                        font-weight:bold;
                        padding-top:15px;
                    }
                    .comentario{
                       
                        .comentario-info{
                            display:flex;
                            flex-direction:row;
                            padding-left:15px;
                            p{
                                padding-top:0px;
                                font-size:16px;
                                font-weight:normal;
                                text-align:left;
                            }
                        }
                        .comentario-conteudo{
                            width:80%;
                            margin: 0 auto;
                            padding: 5px;
                            p{
                                padding-top:0px;
                                font-size:14px;
                                font-weight:normal;
                                padding: 10px 5px;
                                text-align:left;
                            }
                        }
                    }
                }
            }
            .paginacao{
                text-align:center;
            }
        }
        .paginaccion{
            font-size:22px;
        }

        @keyframes rotation {
            from {
                   transform: rotate(0deg);
            }
            to {
                    transform: rotate(359deg);
            }
    }
        .popup-blog {

            transition: all 600ms;
            position: absolute;
            z-index:3;
            left: 0; // 50%;
            top: 50%;
            transform: translate(-100%,-50%); // translate(-50%, -50%);
            width:820px;
            height:730px;
            
            
            // display: none;
            flex-direction: column;
            align-items: center;
            padding: 1.6rem 3rem;
            border: 3px solid black;
            border-radius: 5px;
            background: white;
            box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
            .post{
                width:100%;
                .post-stuff{
                    width:100%;
                    display:flex;
                    flex-direction:column;
                    justify-content: space-between;
                    .post-info{
                        width:100%;
                        display:flex;
                        justify-content: space-between;
                        .fechar-popup{
                            font-size:40px;
                        }
                    }
                    .title{
                        font-size:35px;
                        line-height:35px;
                        text-align:center;
                        margin:10px;
                        text-transform: uppercase;
                        font-family: 'Poppins', sans-serif;
                    }
                }
                
            }
            .autor{
                font-family: 'Poppins', sans-serif;
                font-size:16px;
                margin-bottom:5px;
            }
            .content{
                font-size:22px;
            }
            .comentarios{
                width:100%;
                padding:12px;
              p{
                  font-size:20px;
              }
            }
            hr{
                width:100%;
                height:3px;
            }
          }
    }
    

    #autor-page{
        max-width:700px;
        width:100%;
        margin:0 auto;
        text-align:center;
        h2{
            margin:10px;
        }
        h1{
            margin-bottom:10px;
        }
        h3{
            cursor:pointer;
        }
        .galeria{
            margin:10px 0;
            font-size:18px;
        }
        .albums{
            > div:nth-child(odd){
                background-color:rgb(233, 229, 229);
            }
            > div:nth-child(even){
                background-color:rgb(211, 211, 211);
            }
            .album{
                .title-x{
                    display:flex;
                    justify-content:center;
                    
                    .close{
                        font-size:60px;
                        line-height:21px;
                        padding-right:15px;
                        color:#888888;
                        display:none;
                        cursor:pointer;
                        &:hover{
                            color:black;
                        }
                    }
                    .album-title{
                        cursor:pointer;
                        font-family:cursive;
                        text-transform: uppercase;
                        font-size: 22px;
                        padding-bottom:20px;
                        &:hover{
                            color:#888888;
                        }
                    }
                }
                .photos{
                    display:none;
                    flex-wrap:wrap;
                    justify-content: center;
                    .photo{
                        margin:0 5px;
                        .thumbnail{
                            &:hover{
                                animation: shake 0.5s;
                                animation-iteration-count: infinite;
                            }
                            @keyframes shake{
                                0% { transform: translate(1px, 1px) rotate(0deg); }
                                10% { transform: translate(-1px, -2px) rotate(-1deg); }
                                20% { transform: translate(-3px, 0px) rotate(1deg); }
                                30% { transform: translate(3px, 2px) rotate(0deg); }
                                40% { transform: translate(1px, -1px) rotate(1deg); }
                                50% { transform: translate(-1px, 2px) rotate(-1deg); }
                                60% { transform: translate(-3px, 1px) rotate(0deg); }
                                70% { transform: translate(3px, 1px) rotate(-1deg); }
                                80% { transform: translate(-1px, -1px) rotate(1deg); }
                                90% { transform: translate(1px, 2px) rotate(0deg); }
                                100% { transform: translate(1px, -2px) rotate(-1deg); }
                            }
                        }

                        p{
                            width:150px;
                            height:150px;
                        }
                    }
                }
                
            }
        }
    }

    #autor-portfl{
        width:100%;
        height:100vh;
            .img-bg{
                width:100%;
                height:100%;
                position:relative;
                background-color:#e4e4e4;
                .facepic{
                    height:680px;
                    width:330px;
                    position:absolute;
                    top:5%;
                    left:50%;
                    transform:translate(-50%,-5%);
                    object-position:center;
                    object-fit:none;
                    filter:drop-shadow(2px 4px 6px black);
                    transition: left 600ms, top 400ms 600ms;
                }
                    .portfl-name{
                        transition:all 600ms ease 200ms;
                        font-family: 'Titillium Web', sans-serif;
                        font-size:60px;
                        font-weight:700;
                        position:absolute;
                        top:80%;
                        left:55%;
                        transform:translateX(-50%);
                    }
                    .companypic{
                        position:absolute;
                        top:80%;
                        left:55%;
                        transform:translateX(-50%);
                        opacity:0;
                        transition:all 600ms ease 200ms;
                    }
                    .portfl-company{
                        transition:all 600ms ease 200ms;
                        position:absolute;
                        top:80%;
                        left:55%;
                        transform:translateX(-50%);
                        font-size:50px;
                        opacity:0;
                        background:linear-gradient(45deg,rgb(167, 167, 6),rgb(70, 69, 69));
                        -webkit-background-clip:text;
                        -webkit-text-fill-color:transparent;
                        text-shadow:3px 3px 10px black;

                    }
                    .portfl-catch{
                        transition:all 600ms ease 200ms;
                        position:absolute;
                        top:80%;
                        left:55%;
                        transform:translateX(-50%);
                        opacity:0;
                    }
                    .portfl-albuns{
                        height:680px;
                        width:330px;
                        background-color:lightgrey;
                        position:absolute;
                        z-index:-1;
                        opacity:0;
                        top:5%;
                        left:50%;
                        transform:translate(-50%,-5%);
                        transition: left 600ms, top 400ms 600ms, opacity 600ms;
                        display:flex;
                        flex-direction:column;
                        flex-wrap:wrap;
                        justify-content:space-around;
                        align-items:center;
                        filter:drop-shadow(2px 4px 6px black);
                        .portfl-photo{
                            width:120px;
                            height:120px;
                            filter:sepia(0.75);
                        }
                    }
            }
    }

    #album-page{
        width:100vw;
        height:100%;
        background-color:#f2eecb;
        background-image: linear-gradient(
            45deg,
            #ffd966 25%,
            transparent 25%,
            transparent 75%,
            #ffd966 75%,
            #ffd966
            ),
            linear-gradient(
            -45deg,
            #ffd966 25%,
            transparent 25%,
            transparent 75%,
            #ffd966 75%,
            #ffd966
            );
            background-size: 60px 60px;
            background-position: 0 0;
            animation: slide 4s infinite linear;
            @keyframes slide {
                from {
                  background-position: 0 0;
                }
              
                to {
                  background-position: -120px 60px;
                }
              }
        .list-autors{
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            align-items:start;
            flex-wrap:wrap;
            max-width: 1100px;
            width:100%;
            height:600px;
            margin:0 auto;
            padding-bottom: calc(87.5vh - 675px);
            padding-top: calc(87.5vh - 675px);
            .album-anchor{
                font-family: 'Libre Baskerville', serif;
                text-align: center;
                margin:30px 0;
                font-size:35px;
                font-weight:700;
                position:relative;
                z-index:5;
                text-align:left;
                width:500px;
                &:before{
                    content:attr(data-before);
                    position:absolute;
                    top:0;
                    left:0;
                    width:500px;
                    font-weight:700;
                    color:white;
                    text-align:left;
                    z-index:-1;
                    text-shadow:1px 1px 2px black;
                }
            }

            .effect:after{
                // content: "";
                // position:absolute;
                // border-right:4px solid black;
                // width:1px;
                // height:55%;
                // top:14px;
                // right: -8px;
                // animation: blink 1s infinite ease;
            }
            @keyframes blink{
                0%{
                    opacity:0;
                }
                50%{
                    opacity:1
                }
                100%{
                    opacity:0;
                }
            }
        }
       
        h1{
            font-family: 'Titillium Web', sans-serif;
            text-align: center;
            padding:30px 0;
            font-size:60px;
            font-weight:700;
        }
        .album-wrapper{
            max-width:1180px;
            width:100%;
            margin:0 auto;
            > div:nth-child(odd){
                background-image:linear-gradient(45deg,transparent,lightgoldenrodyellow);
            }
            > div:nth-child(even){
                background-image:linear-gradient(45deg,lightgoldenrodyellow,transparent);
            }
            .album{
                transition: all 450ms;
                p{
                    text-align:center;
                }

                .title-x{
                    display:flex;
                    justify-content:center;
                    
                    .close{
                        font-size:60px;
                        line-height:21px;
                        padding-right:15px;
                        color:#888888;
                        display:none;
                        cursor:pointer;
                        &:hover{
                            color:black;
                        }
                    }
                    .album-title{
                        cursor:pointer;
                        font-family: 'Titillium Web', sans-serif;
                        text-transform: uppercase;
                        font-size: 22px;
                        padding-bottom:20px;
                        text-align: center;
                        width:100%;
                        &:hover{
                            color:#888888;
                        }
                    }
                }
                .photos{
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: center;
                    visibility:hidden;
                    height:0;
                    transition:height 1s, opacity 600ms ease 1s;
                    opacity:0;
                    .photo{
                        margin:0 5px;
                        .thumbnail{
                            &:hover{
                                animation: shake 0.5s;
                                animation-iteration-count: infinite;
                            }
                            @keyframes shake{
                                0% { transform: translate(1px, 1px) rotate(0deg); }
                                10% { transform: translate(-1px, -2px) rotate(-1deg); }
                                20% { transform: translate(-3px, 0px) rotate(1deg); }
                                30% { transform: translate(3px, 2px) rotate(0deg); }
                                40% { transform: translate(1px, -1px) rotate(1deg); }
                                50% { transform: translate(-1px, 2px) rotate(-1deg); }
                                60% { transform: translate(-3px, 1px) rotate(0deg); }
                                70% { transform: translate(3px, 1px) rotate(-1deg); }
                                80% { transform: translate(-1px, -1px) rotate(1deg); }
                                90% { transform: translate(1px, 2px) rotate(0deg); }
                                100% { transform: translate(1px, -2px) rotate(-1deg); }
                            }
                        }

                        p{
                            width:150px;
                            height:150px;
                        }
                    }
                }
                
            }
        }
    }
    #modal{
        display:none;
        position:fixed;
        z-index:1;
        padding-top:100px;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:auto;
        visibility:hidden; //estou usando só pra conseguir o efeito da opacidade. muda o display -> muda a visibility -> dai muda a opacidade
        background-color:rgb(0,0,0);
        opacity:0; //botar uma transição na opacidade do background!!! talvez usando keyframes
        transition: opacity 600ms ease 200ms;
        #modal-img{
            margin:auto;
            display:block;
            width:80%;
            max-width:700px;
        }
        #modal-caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
            font-size:18px;
            text-shadow:1px 1px 3px silver;
          }
          #modal-img, #modal-caption {
            animation-name: zoom;
            animation-duration: 0.6s;
          }
          @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
          }
          #modal-close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
            &:hover,
            &:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
            }
          }
    }


    #autor-list{
        width:100%;
        background-color:#f2eecb;
        padding-top:40px;
        height:100vh;
        h1{
            text-align:center;
            padding-bottom:30px;
            font-family: 'Poppins', sans-serif;
        }
        .profile-pics{
            // max-width:900px;
            // width:100%;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            margin:0 auto;
            background-size:cover;
            background-position:center;
            max-width:1000px;
            width:100%;
            position:relative;
            > div:nth-child(odd){
                background-color:lightgrey;
            }
            > div:nth-child(even){
                background-color:aliceblue;
            }
            .esquerda{
                display:flex;
                justify-content: center;
            }
            .middle-img{
                width:1050px;
                height:295px;
                object-fit:cover;
                object-position:center;
                transition:800ms all;
            }
            .middle-img-behind{
                position:absolute;
                width:443px;
                top:204px;
                left:200px;
                opacity:0;
                filter:drop-shadow(black 2px 4px 6px);
                transition: all 600ms;
            }
            .direita{
                display:flex;
                justify-content: center;
            }
            .profile-pic{
                width:200px; //232
                height:200px;
                border:2px solid black;
                margin:0 3px 0;
                text-align:center;
                display:flex;
                flex-direction:column;
                align-items: center;
                // justify-content:center;
                img{
                    width:200px; //207
                    height:auto;
                    // border-radius:50%;
                    
                    filter: contrast(0.6);
                    &:hover{
                        filter:none;
                    }
                }
                a{
                    font-family: 'Poppins', sans-serif;
                    text-align:center;
                    margin:5px;
                    padding:0;
                }
                .phone-web-mail{
                    text-align:center;
                    img{
                        transition-property: transform, filter, -webkit-filter, padding-left;
                        transition-duration: 450ms;
                        width:auto;
                        height:auto;
                    }
                }
                .info-phone-web-mail{
                    text-align: center;
                    color:goldenrod;
                    border:2px solid gold;
                    padding:2px;
                    margin: 5px auto;
                    position:absolute;
                    left:50%;
                    transform:translateX(-50%);
                    display:none;
                    width:fit-content;
                    opacity:0;
                    transition: opacity 600ms ease 100ms;
                    bottom:-35px;
                }
            }
        }
    }

    .login{
        width:200px;
        height:300px;
    }

    #sidenav-tarefas{
        position:fixed;
        top: 30%;
        left:30%;
        display:flex;
        flex-direction:column;
        .sidenav-header{
            width:100%;
            height:30px;
            background-color:rgb(20, 20, 20);
            color:white;
            text-align:center;
            line-height:30px;
            display:flex;
            justify-content: start;
            &:hover > i {
                color:rgb(117, 56, 230);
            }
            p{
                margin-left:50px;
            }
            i{
                line-height:30px;
                cursor:pointer;
                transition:color 550ms ease;
            }
        }
        .tarefas{
            border:1px solid black;
            .concluidas{
                padding:5px;
                background-color:lightgreen;
                p{
                    cursor:pointer;
                }
                ul{
                    display:none;
                    list-style-type:none;
                    width:500px;
                    flex-wrap:wrap;
                    justify-content:center;
                    li{
                        width:160px;
                        height:60px;
                        border:2px solid black;
                        border-radius:10px;
                        margin:5px;
                        padding: 8px 0 0 8px;
                        opacity:0.5;
                        transition: 450ms all;
                        &:hover{
                            background-color:greenyellow;
                            opacity:1;
                        }
                        .tarefa-info{
                            display:none;
                        }
                    }
                }
            }
            .not-concluidas{
                padding:5px;
                background-color:palevioletred;
                p{
                    cursor:pointer;
                }
                ul{
                    display:none;
                    list-style-type:none;
                    width:500px;
                    flex-wrap:wrap;
                    justify-content:center;
                    li{
                        width:160px;
                        height:60px;
                        border:2px solid black;
                        border-radius:10px;
                        margin:5px;
                        padding: 8px 0 0 8px;
                        opacity:0.5;
                        transition: 450ms all;
                        &:hover{
                            background-color:indianred;
                            opacity:1;
                        }
                        .tarefa-info{
                            display:none;
                        }
                    }
                }
            }
        }
        
    }


    #header_certo{
        width:100%;
        height:75px;
        background-color:black;
        display:flex;
        align-items: center;
        // margin-bottom:30px; optei por usar padding ou margin top nas sections...
        .header-wrapper{
            max-width:1180px;
            width:100%;
            height:80%;
            margin:auto;
            display:flex;
            justify-content: space-around;
            align-items:center;
             .albums, .posts, .usuarios{
                width:240px;
                height:100%;
                background-color:white;
                box-shadow:4px 4px silver;
                position:relative;
                overflow-x:hidden;
                opacity:0.99;
                &:before{
                    content:"";
                    background-color:gold;
                    opacity:0.6;
                    position:absolute;
                    z-index:-1;
                    top:0; bottom:0; left:0; right:0;
                    transform:translateX(-100%);
                    transition:450ms transform;
                }
                &:hover:before {
                    transform:translateX(0); 
                }
                a{
                    font-family: 'Girassol', cursive;
                    font-size:55px;
                    padding:2px;
                 }
                 &.atual{
                     background-color:black;
                     border:1px solid silver;
                     a{
                         color:gold;
                     }
                 }
             }
        }
        
    }
    // .div{
    //     width:1920px;
    //     height:120px;
    //     background-color:red;
    // }

@import 'style.scss';
